html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 0;
}
h1,
h2,
h3,
h4,
p {
  cursor: default;
}
main h1 {
  font-size: 28px;
}
main h2 {
  font-size: 24px;
}
main h3 {
  font-size: 21px;
}
main h4 {
  font-size: 18px;
}
main p {
  font-size: 16px;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
}
#app,
main {
  width: 100%;
  height: 100%;
}
main {
  background-color: whitesmoke;
}
header {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #373A36;
  padding: 0 50px;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
header nav a {
  color: silver;
  font-size: 24px;
  padding: 11px 20px 8px 20px;
  text-decoration: none;
  font-weight: 200;
}
header nav a:hover {
  color: DodgerBlue;
  text-decoration: none;
}
header nav a.active {
  color: white;
  text-decoration: none;
  font-weight: normal;
  border-bottom: 4px solid DodgerBlue;
}
header h1,
header h2,
header h3 {
  color: white;
}
header svg {
  display: block;
  width: 36px;
  height: 36px;
  margin: 2px;
  color: white;
  transition: all 0.3s;
}
header svg:hover {
  width: 38px;
  height: 38px;
  margin: 0;
  color: dodgerblue;
  cursor: pointer;
}
.courses-page {
  width: 100%;
  height: auto;
  min-height: 100%;
  background-color: whtesmoke;
  padding: 60px 0;
  position: relative;
  left: -100%;
  transition: left 0.25s;
}
.courses-page > div {
  width: 100%;
  -webkit-transition: width 0.5s;
  -moz-transition: width 0.5s;
  transition: width 0.5s;
}
.courses-page .selected-available-container .course-container {
  margin-bottom: 28px;
}
.courses-page .course-title,
.courses-page .course-title-pseudo {
  width: 94%;
  margin: 0 3%;
  border-bottom: 0;
  padding: 20px 10px 5px 10px;
  cursor: pointer;
}
.courses-page .course-title-pseudo {
  margin: 16px 3% 50px 3%;
  color: crimson;
}
.courses-page .course-title-pseudo p {
  margin: 8px 0;
}
.courses-page .course-title .glyphicon {
  display: none;
  float: right;
  width: 32px;
  height: 32px;
}
.courses-page .course-title .glyphicon.open {
  display: block;
}
.courses-page .course-title.closed {
  border-bottom: 1px solid grey;
}
.courses-page .course-title:hover {
  color: dodgerblue;
}
.courses-page aside {
  position: fixed;
  opacity: 0;
  width: 30%;
  height: calc(100% - 50px);
  top: 0;
  right: 0;
  display: none;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  transition: opacity 0.5s;
  padding: 10px 20px 20px 20px;
  margin: 50px 0 0 0;
  background-color: white;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-flex-direction: column;
  flex-direction: column;
}
.courses-page aside .upcoming-session {
  height: 31%;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  border-bottom: 2px solid dodgerblue;
}
.courses-page aside .upcoming-session h3 {
  margin: 0;
  padding: 18px 0 21px 0;
}
.courses-page aside .upcoming-session h4 {
  margin: 0;
  padding: 0 0 18px 0;
}
.courses-page aside .day-title {
  width: 100%;
  color: dodgerblue;
  text-align: center;
}
.courses-page.selected > div {
  width: 70%;
}
.courses-page.selected aside {
  display: block;
  opacity: 1;
}
#popup-modal {
  width: 100%;
  height: 100%;
  top: 0px;
  opacity: 0;
  z-index: 2;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  transition: opacity 0.3s;
}
#popup-modal #message-box {
  width: 50%;
  height: 40%;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
#popup-modal #message-box h2,
#popup-modal #message-box h3 {
  width: 100%;
  color: white;
  text-align: center;
  margin: 0px;
  padding: 30px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
#popup-modal #message-box h4 {
  text-align: center;
}
#popup-modal #message-box h4 .glyphicon {
  color: red;
  width: 25px;
  height: 25px;
}
#popup-modal #message-box .btn {
  margin: 0 0 16px 0;
  padding: 6px 30px;
  border-radius: 25px;
}
.for-bg-color,
.glyphicon-container {
  display: none;
}
.courses-page .course-container {
  width: 94%;
  margin: 0 3%;
  transition: all 0.6s;
  overflow: hidden;
  max-height: 0;
}
.courses-page .course-container.open {
  transition: all 0.6s;
  max-height: 5000px;
}
.courses-page .course-container.selected-courses {
  height: 200px;
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.courses-page .course-container.selected-courses > .flex-container {
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  overflow: scroll;
}
.courses-page .course-container.selected-courses .course-box {
  width: calc(40% - 4px);
  height: calc(100% - 4px);
  margin: 2px 2px;
  cursor: pointer;
}
.courses-page .course-container.selected-courses .course-box h2,
.courses-page .course-container.selected-courses .course-box h3,
.courses-page .course-container.selected-courses .course-box h4,
.courses-page .course-container.selected-courses .course-box h1 {
  width: 100%;
  color: white;
  text-align: center;
  margin: 0px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.courses-page .course-container.selected-courses .course-box .flex-container:first-child {
  justify-content: center;
  align-items: center;
  height: 135px;
}
.courses-page .course-container.selected-courses .course-box .author-text {
  display: none;
}
.courses-page .course-container.selected-courses .course-box .course-box-content {
  width: 100%;
}
.courses-page .course-container.selected-courses .course-box {
  border: 1px solid transparent;
}
.courses-page .course-container.selected-courses .course-box:hover {
  position: relative;
  border: 1px solid crimson;
}
.courses-page .course-container.selected-courses .course-box:hover .glyphicon-container {
  position: absolute;
  right: 0px;
  top: 0px;
  display: block;
  width: 60px;
  height: 100%;
  background-color: crimson;
  color: white;
  line-height: 195px;
  text-align: center;
}
.courses-page .course-container.selected-courses .course-box:hover .glyphicon {
  color: white;
  width: 40px;
  height: 40px;
}
.courses-page .course-container.available-courses .course-box {
  width: calc(100% - 4px);
  height: 84px;
  margin: 4px 1px;
  padding: 0 73.47px 0 0;
  cursor: pointer;
  border: 2px solid transparent;
}
.courses-page .course-container.available-courses .course-box .flex-container .day-text,
.courses-page .course-container.available-courses .course-box .flex-container .day-text-for-mobile {
  margin-left: auto;
}
.courses-page .course-container.available-courses .course-box .for-bg-color {
  display: block;
  width: 40px;
  height: 100%;
}
.courses-page .course-container.available-courses .course-box .course-box-content {
  width: 100%;
}
.courses-page .course-container.available-courses .course-box:hover {
  padding: 0;
  border: 2px solid dodgerblue;
}
.courses-page .course-container.available-courses .course-box:hover .glyphicon-container {
  display: block;
  width: 80px;
  background-color: dodgerblue;
  color: white;
  line-height: 80px;
  text-align: center;
}
.courses-page .course-container.available-courses .course-box:hover .glyphicon {
  width: 50px;
  height: 50px;
}
.course-box {
  padding: 0;
  background-color: white ;
  border: 1px solid whitesmoke;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.course-box h1,
.course-box h2,
.course-box h3,
.course-box h4 {
  margin: 10px 0 0 20px;
}
.course-box .flex-container:last-child {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
  margin: 10px 20px 0 20px;
  height: 30px;
}
.course-box .flex-container:last-child .time-text {
  text-transform: uppercase;
}
.calendar-page {
  width: 100%;
  height: 100%;
  background-color: whitesmoke;
  top: 54px;
  align-items: flex-start;
  position: relative;
  right: -100%;
  transition: right 0.25s;
}
.calendar-page > .calendar-left {
  height: 100%;
  width: 25%;
}
.calendar-page > .calendar-left input {
  font-size: 25px;
  font-weight: 400;
  line-height: 33px;
  margin: 0;
  width: 100%;
  border: 0;
  padding: 0;
  color: #363636;
  background-color: transparent;
}
.calendar-page > .calendar-left input:focus {
  outline: none;
  color: dodgerblue;
}
.calendar-page > .calendar-left hr {
  border-color: black;
  margin: 5px 0 20px 0;
}
.calendar-page > .calendar-left .calendar-title {
  width: 100%;
  padding: 20px 15px 0 15px;
}
.calendar-page > .calendar-left .calendar-title .glyphicon {
  opacity: 0;
  width: 21px;
  height: 21px;
  margin: 6px 0;
}
.calendar-page > .calendar-left .calendar-title:hover {
  color: dodgerblue;
  font-style: italic;
}
.calendar-page > .calendar-left .calendar-title:hover input {
  color: dodgerblue;
}
.calendar-page > .calendar-left .calendar-title:hover .glyphicon {
  opacity: 1;
}
.calendar-page > div:last-child {
  width: 75%;
  height: 100%;
}
.calendar-page .week-container {
  width: 100%;
  height: calc(100% - 42px);
}
.calendar-page .week-container .calendar-individual {
  width: calc(20% - 4px);
  height: 100%;
  margin: 0 2px;
  background-color: white;
  position: relative;
  border: 1px solid whitesmoke;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.calendar-page .week-container .calendar-individual ul {
  list-style-type: none;
  height: 100%;
  padding: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.calendar-page .week-container .calendar-individual ul li {
  border-bottom: 1px solid grey;
  width: 100%;
  height: 11.1%;
}
.calendar-page .week-container .calendar-individual ul li.title {
  background-color: dodgerblue;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  padding: 8px 0;
  height: 32px;
}
.calendar-page .week-container .calendar-individual .course-in-calendar {
  position: absolute;
  margin: 2px;
  border-radius: 10px;
  padding: 15px 0 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.calendar-page .week-container .calendar-individual .course-in-calendar:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.calendar-page .week-container ul.timeslot-names {
  list-style-type: none;
  padding: 0px;
  height: 100%;
  font-size: 12px;
  line-height: 12px;
  flex-direction: column;
}
.calendar-page .week-container ul.timeslot-names:first-child {
  text-align: right;
}
.calendar-page .week-container ul.timeslot-names:last-child {
  text-align: left;
}
.calendar-page .week-container ul.timeslot-names li {
  height: 11%;
  position: relative;
  top: -6px;
}
.calendar-page .week-titles {
  list-style-type: none;
  width: calc(100% - 31px);
  margin-left: 31px;
}
.calendar-page .week-titles li {
  width: 20%;
  background-color: dodgerblue;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  padding: 8px 0;
  height: 32px;
  margin: 0 1px;
}
.calendar-page .course-container {
  width: 100%;
  margin: 0%;
}
.calendar-page .course-container.selected-courses {
  max-height: calc(100% - 90px);
  overflow: scroll;
}
.calendar-page .course-container.selected-courses > .flex-container {
  flex-direction: column;
  align-items: center;
}
.calendar-page .course-container.selected-courses .course-box {
  width: 95%;
  margin: 5px 2px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid transparent;
  cursor: pointer;
  overflow: hidden;
}
.calendar-page .course-container.selected-courses .course-box h2,
.calendar-page .course-container.selected-courses .course-box h3,
.calendar-page .course-container.selected-courses .course-box h4,
.calendar-page .course-container.selected-courses .course-box h1 {
  width: 100%;
  color: white;
  margin: 0;
  padding: 10px 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.calendar-page .course-container.selected-courses .course-box h2 {
  font-size: 21px;
}
.calendar-page .course-container.selected-courses .course-box .flex-container:last-child {
  display: none;
}
.calendar-page .course-container.selected-courses .course-box .course-box-content {
  width: 100%;
}
.calendar-page .course-container.selected-courses .course-box:hover {
  border: 1px solid crimson;
  cursor: pointer;
}
.calendar-page .course-container.selected-courses .course-box:hover .course-box-content {
  width: calc(100% - 70px);
  cursor: pointer;
}
.calendar-page .course-container.selected-courses .course-box:hover .glyphicon-container {
  display: block;
  width: 70px;
  height: 45px;
  background-color: crimson;
  color: white;
  line-height: 43px;
  text-align: center;
}
.calendar-page .course-container.selected-courses .course-box:hover .glyphicon {
  width: 30px;
  height: 30px
}
  
/* ----- MEDIA QUERY - PHONE & Tablets portrait ----- */
@media screen 
and (min-width: 320px) 
and (max-width: 992px)  {
  header {
    padding: 0;
  }
  header nav a {	
    font-size: 16px;
    padding: 11px 15px;
  }
  header h4 {	
    display: none;
  }
  .courses-page aside .upcoming-session {
    height: 47%;
  }
  .courses-page aside .upcoming-session:nth-child(4) {
    display: none;
  }
  .courses-page aside .upcoming-session h3 {
    font-size: 17px;
    line-height: 19px;
  }
  .courses-page aside .upcoming-session h4 {
    font-size: 16px;
    line-height: 16px;
  }
  .courses-page aside .day-title {
    font-size: 20px;
    line-height: 20px;
  }
  .courses-page .course-title,
  .courses-page .course-title-pseudo {
    width: 94%;
    font-size: 18px;
    padding: 20px 0px 5px 0px;
  }
  .courses-page .course-title .glyphicon {
    width: 21px;
    height: 21px;
  }
  .courses-page.selected  > div {
    width: 100%;
  }
  .courses-page .course-container.selected-courses {
    height: auto;
    border: 0;
    box-shadow: none;
  }
  .courses-page .course-container.selected-courses > .flex-container {
    width: 100% !important;
    height: auto;
    flex-direction: column;
  }
  .courses-page .course-container.selected-courses .course-box {
    width: 100%;
    height: 70px;
    margin: 4px 4px;
  }
  .courses-page .course-container.selected-courses .course-box .flex-container:first-child {
    height: 40px;
  }
  .courses-page .course-container.selected-courses .course-box .flex-container:last-child {
    height: 24px;
    margin: 12px 20px 0 20px;
  }
  .courses-page .course-container.selected-courses .course-box h2 {
    font-size: 18px;
  }
  .courses-page .course-container.selected-courses .course-box-content {
    width: 100%;
  }
  .courses-page .course-container.selected-courses:hover .glyphicon-container {
    font-size: 40px;
    line-height: 98px;
  }
  .courses-page .course-container.available-courses .course-box {
    height: 100px;
    margin: 0;
    padding: 0;
  }
  .courses-page .course-container.available-courses .course-box h1,
  .courses-page .course-container.available-courses .course-box h2,
  .courses-page .course-container.available-courses .course-box h3,
  .courses-page .course-container.available-courses .course-box h4 {
    height: 52px;
  }
  .courses-page .course-container.available-courses .course-box .author-text {
    width: 120px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .courses-page .course-container.available-courses .course-box .for-bg-color {
    width: 20px;
  }
  .courses-page .course-container.available-courses .course-box .course-box-content h2 {
    font-size: 20px;
    line-height: 21px;
    margin: 10px 0 0 10px;
  }
  .courses-page .course-container.available-courses .course-box .flex-container:last-child {
    font-size: 20px;
    line-height: 21px;
    margin: 0 10px;
  }
  .courses-page .course-container.available-courses .course-box .flex-container:last-child p {
    font-size: 14px;
    margin: 0;
  }
  .courses-page .course-container.available-courses .course-box .flex-container:last-child p.author-text {
    display: none;
  }
  .courses-page .course-container.available-courses .course-box:hover {
    height: 104px;
  }
  .courses-page .course-container.available-courses .course-box:hover .glyphicon-container {
    width: 60px;
    font-size: 40px;
    line-height: 108px;
  }
  #popup-modal #message-box {
    width:90%;
    height: 60%;
  }
  #popup-modal #message-box h3 {
    padding: 21px;
  }
  #popup-modal #message-box h4 {
    padding: 0 10px;
  }
  #popup-modal #message-box .btn {
    font-size: 16px;
    margin: 0 0 12px 0;
    padding: 6px 50px;
  }
  .calendar-page {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    right: -100%;
  }
  .calendar-page > .calendar-left {
    height: auto;
    width: 100%;
  }
  .calendar-page > .calendar-left input {
    font-size: 20px;
    line-height: 20px;
  }
  .calendar-page > .calendar-left hr {
    margin: 5px 0 10px 0;
  }
  .calendar-page > .calendar-left .calendar-title {
    width: 100%;
    padding: 10px 15px 0 10px;
  } 
  .calendar-page > .calendar-left .calendar-title .glyphicon {
    opacity: 1;
    width: 20px;
    height: 20px;
  }
  .calendar-page > div:last-child {
    width: 100%;
    height: calc(100% - 50px);
    padding-right: 5px;
  }
  .calendar-page .week-container {
    width: 100%;
    height: calc(100% - 42px);
  }
  .calendar-page .week-container .course-in-calendar {
    font-size: 10px;
  }
  .calendar-page .week-container ul.timeslot-names {
    font-size: 10px;
  }
  .calendar-page .week-titles {
    width: calc(100% - 25px);
    margin-left: 25px;
  }
  .calendar-page .week-titles li {
    font-size: 12px;
  }
  .calendar-page .course-container {
    display: none;
  }
}

@media screen 
and (min-width: 768px) 
and (max-width: 992px)  {
  header nav a {	
    font-size: 18px;
    padding: 11px 15px;
  }
  .courses-page.selected  > div {
    width: 70%;
  }
}

@media screen 
and (max-width: 768px) {
  .courses-page .course-title-pseudo {
    text-align: center;
  }
}
@media screen
and (min-width: 768px) {
  .courses-page .course-container.selected-courses {
    overflow: scroll;
  }
}
