main.image-tile-page * {
	box-sizing: border-box;
}
main.image-tile-page {
	background-color: #051622;
}
main.image-tile-page .flex-container {
	display: -webkit-flex;
	display: flex;
}
main.image-tile-page .game-title {
	margin: 0;
	padding: 128px 0 0 0;
	text-align: center;
	color: #F7F4E9;
}
main.image-tile-page a,
main.image-tile-page a:hover {
	text-decoration: none !important;
}
main.image-tile-page h1,
main.image-tile-page p,
main.image-tile-page h4 {
	color: #F7F4E9;
}
main.image-tile-page .game-subtitle {
	margin: 0;
	padding: 0 0 24px 0;
	font-size: 20px;
	text-align: center;
	color: #F7F4E9;
    font-family: 'Sen', san-serif;
	font-display: swap;
}
main.image-tile-page .game-subtitle a {
	display: block;
}
main.image-tile-page .game-subtitle svg {
	width: 44px;
	height: 44px;
	margin: 12px 0 1px 0;
	color: #FB9039;
	transition: all 0.3s;
	cursor: pointer;
}
main.image-tile-page .game-subtitle svg:hover {
	width: 46px;
	height: 46px;
	margin: 11px 0 0 0;
	color: #F7F4E9;
}
main.image-tile-page .appContainer {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	text-align: center;
}
main.image-tile-page .appContainer h4 {
	font-size: 21px;
	margin-bottom: 12px;
}
main.image-tile-page footer {
	width: 100% !important;
}
main.image-tile-page div.disappear {
	text-align: center;
	margin: 20px; 
}
main.image-tile-page div.disappear p {
	font-size: 18px;
}
main.image-tile-page div.disappear h4 {
	font-size: 20px;
}
main.image-tile-page div.appear {
	display: none;
	text-align: center;
	margin: 5px; 
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
main.image-tile-page .btn.reset-btn {
	display: none;
	margin: 0 32px 0 0;
}

@media (min-width: 992px) {
	main.image-tile-page .list-of-images {
		width: 992px;
	}
}
main.image-tile-page .inputURL {
	width: 40%;
	min-width: 200px;
    margin-right: 20px;
}
@media (max-width: 568px) {
	main.image-tile-page .inputURL {
		min-width: 180px;
	}
}
main.image-tile-page .image-item {
	width: 266px;
    height: 200px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px;
    cursor: pointer;
    -webkit-transition: transform 1s;
	-moz-transition: transform 1s;
	transition: transform 1s;
}
main.image-tile-page .image-item:hover {
	transform: scale(1.05);
}
main.image-tile-page .game-area-container.flex-container {
	width: 100%;
	height: auto;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
main.image-tile-page div.game-area {
	width : 0px;
	height : auto;
	padding: 0px;
	position: relative;
	background-color: #dddfd4;
	border: 2px solid #000000;
}
main.image-tile-page .game-tile {
	text-align: center;
	color: white;
	display: inline-block;
	position: absolute;
	background-color: blue;
	border-radius: 5px;
	border: thin solid black;
	line-height: 0;
}
main.image-tile-page .game-area.ready .game-tile.left, .game-area.ready .game-tile.right,
main.image-tile-page .game-area.ready .game-tile.top, .game-area.ready .game-tile.bottom {
	border: thin solid red;
	cursor: pointer;
}
main.image-tile-page .game-area.not-ready .game-tile {
	-webkit-transition: left 0.02s, top 0.02s;
	-moz-transition: left 0.02s, top 0.02s;
	transition: left 0.02s, top 0.02s;
}
main.image-tile-page .game-area.ready .game-tile {
	-webkit-transition: left 0.25s, top 0.25s;
	-moz-transition: left 0.25s, top 0.25s;
	transition: left 0.25s, top 0.25s;
}
main.image-tile-page .game-tile.empty {
	display: inline-block;
	position: absolute;
	width: 0px;
	height: 0px;
	border: 0px;
	line-height: 0;
}
main.image-tile-page .game-banner {
	width: 100%;
	height: 50%;
	top: 25%;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px #000000;
	position: absolute;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}
main.image-tile-page .win {
	background-color: limegreen;
}
main.image-tile-page .lose {
	background-color: tomato;
}
main.image-tile-page .shuffle {
	background-color: rgba(0,0,0,0.5);
}